
   
  .mentor-image {
    width: 120px; /* Set the desired width, e.g., 100% to fill the container */
    max-height: 180px; /* Set the desired maximum height */
  }

.Ename{
  text-align: center;
}
